<div class="container mt-4 mb-4">
    <h1>Shop</h1>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Order</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% @user_items.each do |item| %>
            <tr>
                <th scope="row"><%= @order %></th>
                <td><%= item.name %></td>
                <td><%= item.price %></td>
                <td><%= item.stock %></td>
                <td class="d-flex">
                    <% if item.stock > 0%>
                        <%= button_to "Buy", main_buy_path(item.id) %> &nbsp;&nbsp;&nbsp;
                    <% else %>
                        <p>out of order</p>
                    <% end %>
                </td>
            </tr>
            <% @order += 1 %>
        <% end %>
    </tbody>
    </table>
</div>
